In [4]:
HEADERS = {'Connection': 'keep-alive',
           'Host': 'stats.nba.com',
           'Origin': 'http://stats.nba.com',
           'Upgrade-Insecure-Requests': '1',
           'Referer': 'stats.nba.com',
           'x-nba-stats-origin': 'stats',
           'x-nba-stats-token': 'true',
           'Accept-Language': 'en-US,en;q=0.9',
           "X-NewRelic-ID": "VQECWF5UChAHUlNTBwgBVw==",
           'User-Agent':  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
           }

In [10]:
from py_ball.player import Player
from py_ball import league
import numpy as np
import pandas as pd

In [2]:
Player(headers=HEADERS)

NameError: name 'HEADERS' is not defined

In [8]:
from py_ball import league

league_id = '10' #WNBA
franchises = league.League(headers=HEADERS,
                           endpoint='franchisehistory',
                           league_id=league_id)

In [11]:
franchises.data['FranchiseHistory'][1]

{'LEAGUE_ID': '10',
 'TEAM_ID': 1611661329,
 'TEAM_CITY': 'Chicago',
 'TEAM_NAME': 'Sky',
 'START_YEAR': '2006',
 'END_YEAR': '2024',
 'YEARS': 19,
 'GAMES': 607,
 'WINS': 284,
 'LOSSES': 323,
 'WIN_PCT': 0.467,
 'PO_APPEARANCES': 9,
 'DIV_TITLES': 0,
 'CONF_TITLES': 2,
 'LEAGUE_TITLES': 1}

In [35]:
from py_ball.team import Team

In [36]:
team_test = Team(headers=HEADERS, 
                 team_id=1611661329, 
                 league_id='10')

In [9]:
league_id = '00' #NBA
season = '2023'

players = league.League(headers=HEADERS,
                        endpoint='commonallplayers',
                        league_id=league_id,
                        season=season)
player_df = pd.DataFrame(players.data['CommonAllPlayers'])
player_df.head(15)

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,PLAYER_SLUG,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_SLUG,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,1630173,"Achiuwa, Precious",Precious Achiuwa,1,2020,2023,precious_achiuwa,precious_achiuwa,1610612752,New York,Knicks,NYK,knicks,knicks,Y,00
1,203500,"Adams, Steven",Steven Adams,1,2013,2023,steven_adams,steven_adams,1610612745,Houston,Rockets,HOU,rockets,rockets,Y,00
2,1628389,"Adebayo, Bam",Bam Adebayo,1,2017,2023,bam_adebayo,bam_adebayo,1610612748,Miami,Heat,MIA,heat,heat,Y,00
3,1630534,"Agbaji, Ochai",Ochai Agbaji,1,2022,2023,ochai_agbaji,ochai_agbaji,1610612761,Toronto,Raptors,TOR,raptors,raptors,Y,00
4,1630583,"Aldama, Santi",Santi Aldama,1,2021,2023,santi_aldama,santi_aldama,1610612763,Memphis,Grizzlies,MEM,grizzlies,grizzlies,Y,01
5,1629638,"Alexander-Walker, Nickeil",Nickeil Alexander-Walker,1,2019,2023,nickeil_alexander-walker,nickeil_alexander-walker,1610612750,Minnesota,Timberwolves,MIN,timberwolves,timberwolves,Y,01
6,1628960,"Allen, Grayson",Grayson Allen,1,2018,2023,grayson_allen,grayson_allen,1610612756,Phoenix,Suns,PHX,suns,suns,Y,01
7,1628386,"Allen, Jarrett",Jarrett Allen,1,2017,2023,jarrett_allen,jarrett_allen,1610612739,Cleveland,Cavaliers,CLE,cavaliers,cavaliers,Y,00
8,1641851,"Allen, Timmy",Timmy Allen,0,2023,2023,timmy_allen,timmy_allen,0,,,,None,,Y,11
9,1630631,"Alvarado, Jose",Jose Alvarado,1,2021,2023,jose_alvarado,jose_alvarado,1610612740,New Orleans,Pelicans,NOP,pelicans,pelicans,Y,00
10,203937,"Anderson, Kyle",Kyle Anderson,1,2014,2023,kyle_anderson,kyle_anderson,1610612750,Minnesota,Timberwolves,MIN,timberwolves,timberwolves,Y,01
11,203507,"Antetokounmpo, Giannis",Giannis Antetokounmpo,1,2013,2023,giannis_antetokounmpo,giannis_antetokounmpo,1610612749,Milwaukee,Bucks,MIL,bucks,bucks,Y,00
12,203648,"Antetokounmpo, Thanasis",Thanasis Antetokounmpo,1,2015,2023,thanasis_antetokounmpo,thanasis_antetokounmpo,1610612749,Milwaukee,Bucks,MIL,bucks,bucks,Y,01
13,1630175,"Anthony, Cole",Cole Anthony,1,2020,2023,cole_anthony,cole_anthony,1610612753,Orlando,Magic,ORL,magic,magic,Y,00
14,1628384,"Anunoby, OG",OG Anunoby,1,2017,2023,og_anunoby,og_anunoby,1610612752,New York,Knicks,NYK,knicks,knicks,Y,00

In [32]:
league_id = '10' #WNBA
season = '2022'

players = league.League(headers=HEADERS,
                        endpoint='commonallplayers',
                        league_id=league_id,
                        season=season)
player_df = pd.DataFrame(players.data['CommonAllPlayers'])

In [33]:
player_df[player_df["TEAM_ID"]==1611661329]

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,PLAYER_SLUG,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_SLUG,IS_NBA_ASSIGNED,NBA_ASSIGNED_TEAM_ID,GAMES_PLAYED_FLAG
2,1627700,"Allemand, Julie",Julie Allemand,1,2020,2022,julie_allemand,julie_allemand,1611661329,Chicago,Sky,CHI,sky,sky,0,0,Y
28,203416,"Meesseman, Emma",Emma Meesseman,1,2013,2022,emma_meesseman,emma_meesseman,1611661329,Chicago,Sky,CHI,sky,sky,0,0,Y
34,201516,"Quigley, Allie",Allie Quigley,1,2008,2022,allie_quigley,allie_quigley,1611661329,Chicago,Sky,CHI,sky,sky,0,0,Y