In [1]:
import requests

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns

In [28]:
# the Chicago Data Portal returns 1000 records at a time
# The data must be queried with the offset parameter 
business_df = pd.DataFrame()

for offset in range(0, 60000, 1000):
    active_business_url = f"https://data.cityofchicago.org/resource/uupf-x98q.json?$limit=1000&$offset={offset}"
    response = requests.get(active_business_url)
    offset_df = pd.DataFrame(response.json())
    business_df = pd.concat([business_df,offset_df])

In [30]:
business_df.head()

,license_description,zip_code,license_id,location,date_issued,city,ward_precinct,address,license_status,conditional_approval,...,license_number,license_approved_for_issuance,expiration_date,account_number,site_number,license_code,legal_name,id,ssa,application_created_date
0,Regulated Business License,60655,2962346,"{'latitude': '41.70083904551383', 'human_addre...",2024-04-15T00:00:00.000,CHICAGO,19-29,10555 S KEDZIE AVE,AAI,N,...,2862408,2024-04-12T00:00:00.000,2026-08-15T00:00:00.000,487722,1,4404,T'MARIE ART COMPANY LLC,2862408-20240816,NaN,NaN
1,Shared Kitchen User (Long Term),60605,2962074,"{'latitude': '41.864950550027714', 'human_addr...",2024-04-04T00:00:00.000,CHICAGO,3-26,1327 S PLYMOUTH CT 1 C,AAI,N,...,2856289,NaN,2026-07-15T00:00:00.000,486252,2,8344,HOOK POINT FISHERIES LLC,2856289-20240716,NaN,NaN
2,Valet Parking Operator,60611,2963136,"{'latitude': '41.892140783720365', 'human_addr...",2024-05-03T00:00:00.000,CHICAGO,42-48,540 N MICHIGAN AVE,AAI,N,...,2463664,2024-05-03T00:00:00.000,2025-06-30T00:00:00.000,63376,189,2101,INTERPARK LLC,2463664-20240701,NaN,NaN
3,Peddler License,60649,2961357,"{'latitude': '41.77004962808352', 'human_addre...",2024-03-20T00:00:00.000,CHICAGO,5-40,6855 S MERRILL AVE 3,AAI,N,...,2831109,NaN,2026-06-15T00:00:00.000,391097,2,4406,RAYSKEE SCOTT ROUNDTREE,2831109-20240616,NaN,NaN
4,Regulated Business License,33626,2965158,NaN,2024-05-03T00:00:00.000,TAMPA,NaN,12425 RACE TRACK RD 100,AAI,N,...,2600705,2024-05-02T00:00:00.000,2026-06-15T00:00:00.000,427761,1,4404,"Full Circle Financial Services, LLC",2600705-20240616,NaN,NaN

In [31]:
business_df.columns

Index(['license_description', 'zip_code', 'license_id', 'location',
       'date_issued', 'city', 'ward_precinct', 'address', 'license_status',
       'conditional_approval', 'state', 'payment_date', 'business_activity',
       'license_start_date', 'latitude', 'precinct',
       'application_requirements_complete', 'ward', 'doing_business_as_name',
       'police_district', 'business_activity_id', 'longitude',
       'application_type', 'license_number', 'license_approved_for_issuance',
       'expiration_date', 'account_number', 'site_number', 'license_code',
       'legal_name', 'id', 'ssa', 'application_created_date'],
      dtype='object')

# How Many Jewel's are in Chicago

In [34]:

jewels = business_df[business_df["legal_name"] == "JEWEL FOOD STORES, INC."]

In [40]:
jewels.head()

,license_description,zip_code,license_id,location,date_issued,city,ward_precinct,address,license_status,conditional_approval,...,license_number,license_approved_for_issuance,expiration_date,account_number,site_number,license_code,legal_name,id,ssa,application_created_date
798,Food - Shared Kitchen - Supplemental,60656,2951734,"{'latitude': '41.97454294770947', 'human_addre...",2024-04-24T00:00:00.000,CHICAGO,41-36,7342 W FOSTER AVE 1ST,AAI,N,...,2951734,2024-04-23T00:00:00.000,2026-03-15T00:00:00.000,259,26,8343,"JEWEL FOOD STORES, INC.",2951734-20240424,NaN,2024-01-24T00:00:00.000
90,Food - Shared Kitchen - Supplemental,60618,2948895,"{'latitude': '41.95910043303784', 'human_addre...",2024-01-18T00:00:00.000,CHICAGO,47-8,4250 N LINCOLN AVE 1,AAI,N,...,2803237,2024-01-17T00:00:00.000,2026-03-15T00:00:00.000,259,4,8343,"JEWEL FOOD STORES, INC.",2803237-20240316,38,NaN
110,Food - Shared Kitchen - Supplemental,60639,2948928,"{'latitude': '41.92629695632618', 'human_addre...",2024-01-18T00:00:00.000,CHICAGO,36-4,2520 N NARRAGANSETT AVE,AAI,N,...,2845353,2024-01-17T00:00:00.000,2026-03-15T00:00:00.000,259,53,8343,"JEWEL FOOD STORES, INC.",2845353-20240316,NaN,NaN
153,Retail Food Establishment,60649,2948918,"{'latitude': '41.75780565854321', 'human_addre...",2024-01-18T00:00:00.000,CHICAGO,8-2,7530 S STONY ISLAND AVE,AAI,N,...,1000572,2024-01-17T00:00:00.000,2026-03-15T00:00:00.000,259,37,1006,"JEWEL FOOD STORES, INC.",1000572-20240316,42,NaN
163,Retail Food Establishment,60640,2948892,"{'latitude': '41.979428254921736', 'human_addr...",2024-01-18T00:00:00.000,CHICAGO,48-12,5343 N BROADWAY 1ST #,AAI,N,...,1323,2024-01-17T00:00:00.000,2026-03-15T00:00:00.000,259,3,1006,"JEWEL FOOD STORES, INC.",1323-20240316,26,NaN

In [43]:
no_of_jewels = jewels["doing_business_as_name"].nunique()
print(f"Thee are {no_of_jewels} Jewels currently active in Chicago")

Thee are 37 Jewels currently active in Chicago

# Whole Foods

In [47]:
wholefoods = business_df[business_df["doing_business_as_name"] == "WHOLE FOODS MARKET"]

In [51]:
print(f"There are {wholefoods["address"].nunique()} currently registered in Chicago")

There are 12 currently registered in Chicago

# Mariano's

In [54]:
marianos = wholefoods = business_df[business_df["legal_name"] == "ROUNDY'S ILLINOIS, LLC"]

In [58]:
print(f"There are {marianos["doing_business_as_name"].nunique()} Mariano's in Chicago")

There are 13 Mariano's in Chicago

# Trader Joe's

In [61]:
trader_joes = business_df[business_df["legal_name"] == "TRADER JOE'S EAST INC."]

In [64]:
print(f"There are {trader_joes["address"].nunique()} Trader Joe's in Chicago")

There are 6 Trader Joe's in Chicago

# Aldi

In [65]:
aldi =  business_df[business_df["legal_name"] == "ALDI INC."]

In [68]:
print(f"There are {aldi["address"].nunique()} Aldi's in Chicago")

There are 31 Aldi's in Chicago